.logo {
  display: flex;
  align-items: center;

  font-size: 2.4rem;
  color: var(--accent);

  > span {
    display: inline-block;
    margin: 0 0.5rem;
    letter-spacing: 2px;

    color: var(--text);
  }
}
