@import '../../styles/settings.scss';
@import '../../styles/shared.scss';

.four-o {
  @extend .page;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  text-align: center;

  > h1 {
    font-size: 4.5rem;
    line-height: 1.4;
    font-weight: 600;
    color: var(--accent);
  }

  > a {
    margin-top: 4rem;
  }
}
